#player2{
    display: none;
}

#retry{
    display: none;
}

#alertPlayer1{
    width: 40%;
    display: none;
}

#alertNoLetter{
    width: 40%;
    display: none;
}

#alertTooMuchLetter{
    width: 40%;
    display: none;
}

#victory{
    width: 40%;
    display: none;
}

#defeat{
    width: 40%;
    display: none;
}

#letterAlreadySearch{
    width: 40%;
    display: none;
}